.navlink, .breadLink {
    color: black;
    text-decoration: none;
}

.navlink:hover {
    text-decoration: underline;
}

.active {
    text-decoration: underline;
}

.inactive {
    text-decoration: none;
}

.breadLink:hover {
    color: #A5A5A5;
}